<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Mobile testing" verbose="1" >
    <test name="Functional Test" >
        <classes>
<!--            <class name="mobileAppTest.LoginTestDevice"/>-->
            <class name="mobileAppTest.LoginTestCloud"/>
        </classes>
    </test>
</suite>
